.header {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.titleWrap {
    display: flex;
    gap: 8px;
    align-items: center;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.4px;
    color: #121417;
}

.navWrap {
    display: flex;
    gap: 28px;
}

@media (min-width: 320px) and (max-width: 559px) {
    .navWrap {
        flex-direction: column;
    }
}


.navLink {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #121417;
    text-decoration: none;
}

.navLink .active {
    background-color: #F4C8BA;
    padding: 5px;
    border-radius: 10px;
}